# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# OSX
.DS_Store
.AppleDouble
.LSOverride
._*

# for c2a user sample
Examples/minimum_user/src/src_core
Examples/minimum_user/build
Examples/2nd_obc_user/src/src_core
Examples/2nd_obc_user/build
*.pyc

# Added by cargo
/target
/Cargo.lock
