name: labeler

on:
  push:
    branches:
      - develop
  pull_request:
    paths:
      - .github/workflows/labeler.yml
      - .github/labels.yml

jobs:
  labeler:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Run Labeler
        uses: crazy-max/ghaction-github-labeler@v4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          yaml-file: .github/labels.yml
          skip-delete: false
          dry-run: ${{ github.ref != 'refs/heads/develop' }}
