name: reviewdog / lint python

on:
  push:
    branches:
      - main
      - develop
  pull_request:

jobs:
  flake8_lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up python environment
        uses: actions/setup-python@v4
        with:
          python-version-file: .github/workflows/.python-version

      - name: install flake8
        run: pip install flake8==6.0.0

      - name: flake8 Lint
        uses: reviewdog/action-flake8@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          filter_mode: nofilter
          fail_on_error: true
          level: warning
